{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}tripmetic - departure{% endblock %}
{% block head %}
{{ super() }}
<meta charset='utf-8'>
<title>Book</title>
<style type="text/css">

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
{% block page_content %}
<div class = "container">
  <div class = "row">
    <div class = "col-md-6">
      <h3>Search Flights: {{line}}</h3>
      {{wtf.quick_form(form)}}
      {{ form.hidden_tag() }}
    </div>
  </div>
</div>
<div class = "container">
  <div class = "col-md-12">
    <div class = "row">
      <br></br>
      <table class = "table">
        <thead>
          <h4> Upcoming Flights </h4>
          <tr>
            <th scope="col">Airline</th>
            <th scope="col">Flight #</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Origin Airport</th>
            <th scope="col">Destination Airport</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for flights in upcoming %}
            <tr class="clickable-row" data-href="{{ url_for('agent.flightpassengers', flight_num = flights.flight_num)}}">
              <td>{{flights.airline_name}}</td>
              <td>{{flights.flight_num}}</td>
              <td>{{flights.departure_date}}</td>
              <td>{{flights.departure}}</td>
              <td>{{flights.arrival}}</td>
              <td>{{flights.status}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">

    jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.location = $(this).data("href")
      })
    })

</script>

{% endblock %}
